#what-we-do {
    margin-bottom: 40px;
    padding: 0 30px;
}

#what-we-do #what-we-do-text p {
    color: white;
    font-size: '1.3em';
    line-height: '2.3em';
    margin-bottom: 40px;
    position: relative;
    word-spacing: 12px;
}

#what-we-do h1 {
    color: white;
    font-size: 96px;
    margin-bottom: 40px;
    position: relative;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #what-we-do #what-we-do-text h1 {
        font-size: 40px;
    }

    #video-what-we-do {
        display: none;
    }
}